@font-face {
    font-family: opensans;
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
  }

  *{
    font-family: opensans;
  }

.container {
    display: grid;
    max-height: 90vh;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 5fr;
}

/* NAV */
.nav {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: center;
    gap: 10px;
    padding-left: 80px;
}

.search-container > svg {
    width: 30px;
}

.search-container > input {
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    width: 70%;
    justify-self: start;
}

.profile-corner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.profile-corner > svg {
    width: 30px;
    justify-self: end;
}

.profile-corner > img {
    max-height: 60px;
}

.profile-corner > p {
    font-weight: bold;
    font-size: 1.5rem;
    justify-self: start;
}

.profile-expand {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.profile-expand > img {
    grid-row: 1 / 3;
    max-height: 100px;
}

.user-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* SIDEBAR */
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 5px;

    height: 100%;

    display: grid;
    grid-template-rows: 5% 2fr 1fr 4fr;
}

.sidebar-top {
    display: flex;
    grid-template-columns: 10% 1fr;
    align-items: center;
    gap: 10px;
}

.sidebar-top > img {
    width: 3rem;
}

.sidebar-top > ul {
    list-style-type: none;
}

.sidebar > ul {
    list-style-type: none;
}

.main-menu {
    display: grid;
}

.main-menu > li {
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    gap: 10px;

    font-weight: 700;
}

.main-menu > li > svg {
    width: 30px;
}

.help {
    display: grid;
    font-weight: 700;
}

.help > li {
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    gap: 10px;
}

.help > li > svg {
    width: 30px;
}

/* MAIN */
.main {
    grid-column: 2;
    grid-row: 2;

    max-height: 900px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: repeat(autofit, 1fr);
    grid-template-columns: 1fr 1fr;
}

.cards {
    padding: 20px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.trending > h2 {
    grid-column: 1 / 3;
}

.trend-cards {
    display: grid;
    grid-column: 1 / 3;
    width: 100%;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.trend-cards > img {
    max-height: 50px;
    grid-row: 1 / 3;
}